.messenger {
    height: 24em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.custom-received{
    justify-content: flex-end;
    margin-left: 2px
}
/*Send Box*/

#message-body {
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

/*Headers*/

.panel-default>.panel-heading {
    background-color: #2a88bd;
    color: #fff;
}

/*Profile*/

.panel-default>.panel-body p span {
    color: #ccc;
    font-weight: bold;
}

/*Messages*/

.messenger-body div p {
    color: #fff;
    padding: 5px 1em;
    margin: 3px 1em;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 80%;
    border-radius: 5px;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}
.sent {
    background-color: #63b4dc;
    float: right;
    word-break: break-all;
}

.received {
    background-color: #ccc;
    float: left;
    word-break: break-all;
}

.unsent {
    color: #f03d25;
    float: right;
    cursor: pointer;
}

/*Threads*/

.thread-link:hover {
    text-decoration: none;
}

.thread-row {
    background-color: #fff;
    padding-top: 8px;
}

.thread-row:hover, .current {
    background-color: #f3f3f2;
}

.thread-user {
    color: #000;
    padding: 0 1em;
}

.thread-message {
    padding: 0 1em;
    color: #999999;
    font-size: 13px;
}

.unseen {
    font-weight: bold;
}
.unseen p.thread-message {
    color: #333;
}
/*Messages Preloader*/

#messages-preloader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.start-conv {
    text-align: center;
    color: #ccc;
}

/*Menu Dots*/

.fa-ellipsis-h {
    color: #eee;
    display: none;
    position: relative;
}

.fa-ellipsis-h:hover {
    cursor: pointer;
}

.delete {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 5px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
}
