/*  Theme Responsive Css */



@media only screen and (max-width: 1200px){
	
	body {
		overflow-x:hidden;
	}
	.main-header .cart-box{
		margin-left: 15px;
	}
	.main-menu .navigation > li{
		margin-left: 18px;
	}
	.main-header .cart-box:before{
		display: none;
	}
	.about-section .img-box{
		margin: 0px;
		top: 35px;
	}
	.main-footer .service-wideget{
		margin: 0px;
	}
	.team-details .team-details-content{
		margin-left: 0px;
	}
	.team-details .img-box{
		top: 100px;
	}

	.cart-section .cart-table tbody tr .prod-column .column-box .prod-thumb{
		margin: 0px 0px 5px 0px;
	}
	.subscribe-section input[type='text'], .subscribe-section input[type='email']{
		margin-bottom: 10px;
	}
	.main-slider .slider-wrapper .image img{
		width: auto;
	}

}



@media only screen and (max-width: 991px){
	
	body {
		overflow-x:hidden !important;
	}
	.logo-box{
		    width: 185px;
		margin: 15px auto;
	}
	.main-menu .navigation > li > a,
	.fixed .main-menu .navigation > li > a{
		padding: 5px 0px 20px 12px;
	}
	.about-section .img-box{
		top: 130px;
	}
	.we-work .column:nth-child(1) .single-item,
	.we-work .column:nth-child(2) .single-item,
	.we-work .column:nth-child(3) .single-item,
	.we-work .column:nth-child(4) .single-item{
		width: 160px;
		margin: 20px auto;
		display: block;
	}
	.pricing-section .single-table{
		margin-bottom: 30px;
	}
	.main-footer .logo-wideget{
		top: 0px;
		margin-bottom: 30px;
	}
	.main-footer .service-wideget{
		margin-bottom: 40px;
	}
	.main-footer .link-wideget{
		margin: 0px;
	}
	.our-team .single-item{
		margin-bottom: 30px;
	}
	.team-details .img-box{
		top: 0px;
		margin-bottom: 90px;
	}
	.shop-section .sidebar{
		margin-bottom: 50px;
	}
	.cart-section .coupon-box .cart-btn{
		float: none;
		margin-top: 10px;
	}
	.checkout-section .additional-information{
		margin-bottom: 30px;
	}
	.blog-page .blog-classic-content,
	.blog-single .blog-single-content{
		margin-bottom: 50px;
	}
	.contact-section .contact-info{
		border-left: 1px solid #e5e5e5;
		margin-bottom: 50px;
	}
	.we-work{
		padding: 160px 0px 165px 0px;
	}
	.subscribe-content .top-title{
		margin-top: 45px;
	}
	.main-header .menu-bar{
		float: none;
	}
	.main-menu{
		display: block;
	}
	.main-header .cart-box{
		position: absolute;
		top: 12px;
		right: 0px;
	}
	.faq-content{
		margin-bottom: 50px;
	}
	.error-section .img-box{
		top: 0px;
	}
	.error-section .error-content{
		margin-bottom: 50px;
	}
	.single-shop .single-product .img-box{
		margin: 0px 0px 30px 0px;
	}
	.contact-section .contact-info{
		margin-left: 0px;
	}
	.google-map-area{
		margin-right: 0px;
	}
	.main-menu li.dropdown:before{
		display: none;
	}

}
@media only screen and (max-width: 767px){
	
	
	.main-header .menu-bar{
		float: none;
		right: 0px;
	}
	.main-header .cart-box{
		position: absolute;
		top: 15px;
		right: 0px;
	}
    .main-header .cart-box2{
		position: absolute;
		top: 15px;
		right: 90px !important;
	}
	.about-section .img-box{
		max-width: 490px;
		margin: 0px auto 80px auto;
		top: 0px;
	}
	.service-section .single-item{
		max-width: 370px;
		margin: 15px auto;
	}
	.pricing-section .single-table{
		max-width: 370px;
		margin: 15px auto;
	}
	.news-section .single-item{
		max-width: 570px;
		margin: 15px auto;
	}
	.main-footer .link-wideget{
		margin-bottom: 40px;
	}
	.our-team .single-item{
		max-width: 370px;
		margin: 15px auto;
	}
	.service-details-content .img-box{
		max-width: 420px;
	}
	.gallery-section .single-item{
		max-width: 370px;
		margin: auto;
	}
	.shop-product .single-column{
		max-width: 270px;
		margin: 15px 0px;
	}
	.single-shop .single-product .img-box{
		max-width: 560px;
		margin-bottom: 50px;
	}
	.blog-single .blog-single-content .sidebar-text{
		margin-left: 0px;
		padding-right: 0px;
	}
	.contact-section .contact-info{
		height: 100%;
	}
	.gallery-section .post-filter li{
		margin-bottom: 10px;
	}
	.main-footer .list li a{
		width: 130px;
	}
	.about-section{
		padding-bottom: 60px;
	}
	.faq-content{
		margin-bottom: 60px;
	}
	.subscribe-content .top-title{
		margin-top: 0px;
	}
	.team-details-content .content-style-two .list{
		margin-bottom: 20px;
	}
	.team-details-content .content-style-two h3{
		margin-bottom: 10px;
	}
	.testimonials-section{
		padding: 150px 0px;
	}
	.contact-section .contact-info .single-info{
		margin-bottom: 30px;
	}
	.checkout-section .select-box {
    	margin-bottom: 30px;
	}
	.error-section .img-box img{
		width: 100%;
	}
	
}

@media only screen and (max-width: 599px){
	
	.fixed .logo-box{
		display: none;
	}
	.cta-section .cta-content{
		margin: 0px;
	}
	.about-section .about-content{
		margin-left: 0px;
	}
	.shop-content .top-content .text, .shop-content .top-content .select-box{
		margin-bottom: 20px;
	}
	.shop-content .top-content .right-content{
		display: block;
		float: none;
	}
	.testimonials-section .text{
		padding: 0px;
	}
	
}

@media only screen and (max-width: 499px) {
	
	.error-section .error-title i:before{
		font-size: 140px;
	}
	.error-section .error-title{
		font-size: 120px;
	}
	.cart-section .coupon-box input{
		width: 100%;
		margin-bottom: 10px;
	}
	.checkout-section .order-info .price{
		display: block;
		float: none;
	}
	.page-pagination li{
		margin-bottom: 10px;
	}
	.blog-single .blog-single-content .content-text{
		margin-right: 0px;
	}
	h1{
		font-size: 45px;
		line-height: 50px;
	}
	.shop-content .top-content .right-content{
		float: none;
	}
	.checkout-section .order-info .sub-total .price,
	.checkout-section .order-info .price.color,
	.checkout-section .order-info .single-item .price{
		display: block;
	}
	.checkout-section .order-info .single-item .price{
		padding: 10px 0px;
	}
	.main-slider .btn-one{
		margin-bottom: 10px;
	}
	

}

@media only screen and (max-width: 399px){

	.switcher .switch_menu .switcher_container{
		width: 235px;
	}
	.switcher .switch_menu{
		width: 240px;
	}
	.switcher .switch_menu .switch_body .box{
		margin-left: 15px;
	}
	.switcher .switch_menu .switch_navigation p, 
	.switcher .switch_menu .switch_navigation p, 
	.switcher .switch_menu .switch_navigation .onoffswitch{
		margin-left: 2px;
	}
	.blog-details .comment-area .single-comment.replay{
		margin-left: 10px;
	}
	.blog-single .comment-area .single-comment.replay{
		margin-left: 0px;
	}
	.subscribe-section input{
		width: 100%;
	}
	h1{
		font-size: 40px;
	}
	.error-section .error-title i:before{
		font-size: 105px;
	}
	.checkout-section .order-info .single-item .item-name{
		margin-left: 0px;
	}
	.checkout-section .order-info .single-item .img-box{
		margin-right: 17px;
	}
	.checkout-section .payment-info .payment-option .btn-one{
		padding: 7px 25px;
	}
	.subscribe-section input[type='text'], .subscribe-section input[type='email']{
		width: 100%;
	}
	.subscribe-section .form-group{
		display: block;
	}
	.checkout-section .order-info .single-item .img-box{
		display: block;
		margin: 0px 0px 10px 0px;
	}

}


/** main-menu **/



@media only screen and (max-width: 991px){
    

/*=================== mobile-menu ======================*/

  .navigation {
    display: none;
  } 

  .main-menu .collapse {
    border: 0px;
    max-height: 300px;
    display: none !important;
    overflow: auto !important;
  } 

  .main-menu .collapse.in, 
  .main-menu .collapsing {
    display: block !important;
  } 

  .main-menu .navbar-header{
    padding: 8px 0px;
    float: none;
  }  

  .main-menu .navbar-toggle {
    float: none;
    margin: 0;
    display: block;
  }  

  .main-menu .navbar-toggle .icon-bar {
    background: #000000;
    width: 30px;
  }  


/*=================================menu=======================*/
  
}


@media (max-width: 1200px) and (min-width: 992px) {
	.menuzord-menu > li > a {
	    padding: 40px 15px;
	}
	.theme_menu .thm-btn {
		padding: 0 15px;
	}
	.theme_menu .right-column {
	    width: 225px;
	}
}

@media only screen and (min-width: 991px){
  .mobile-menu {
    display: none;
  }      
}